
<div class="table-container">
    <h1 class="title">{{ title }}</h1>
    <div class="controls">
        <input type="text" 
		    placeholder="Filter by Number" 
		    (input)="onFilterStatus($event)" 
		    class="filter-input"/>
        <button (click)="clearNotifications()" class="clear-button">Clear Notifications</button>  
    </div>  
    <table class="styled-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Number</th>
          <th>Detail</th>
          <th>Account Limit Percentage</th>
          <th>Business Limit Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notification of filteredNotifications">
          <td>{{ notification.title }}</td>
          <td>{{ notification.number }}</td>
          <td>{{ notification.detail }}</td>
          <td>{{ notification.accountLimitPercentage }}</td>
          <td>{{ notification.businessLimitPercentage !== undefined ? notification.businessLimitPercentage : 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  

<router-outlet />